@import './iconfont.css';
html,
body
    margin 0
    height 100%
    background #f9f9f9
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    -webkit-appearance none
body
    font-family 'Helvetica Neue', 'Helvetica', 'PingFangSC-Regular', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', Arial, sans-serif
